<ion-view view-title="Currículo">
  <ion-content class="my-background">
<div class="list card">
  <div class="item item-avatar">
    <img src="img/goku.png"/>
    <h2>Nicolas Viana da Silva</h2>
    <p>13 de Abril de 1994</p>
    <p>nicolas.silva@inf.aedb.br</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="./img/pc.png">
    <p class="main-text">
      Sejam bem-vindos ao meu currículo em forma de aplicação móvel. Neste app você poderá obter melhor as informações sobre as minhas habilidades técnicas e profissionais. Espero que gostem, e que me contratem, é claro ;)
    </p>
  </div>
  <div class="button-bar">
  <a class="button button-stable icon ion-edit" href="#/app/educacao"> Educação</a><br>
  <a class="button button-stable icon ion-clipboard" href="#/app/profissional"> Profissional</a><br>
</div>
<div class="button-bar">
  <a class="button button-stable icon ion-arrow-graph-up-right" href="#/app/habilidade"> Habilidades</a><br>
  <a class="button button-stable icon ion-ios-bookmarks-outline" href="#/app/curso"> Cursos</a>
  </div>
</div>
  </ion-content>
</ion-view>
