<ion-view view-title="Currículo">
<ion-content class="my-background">
<div class="bar bar-header bar-dark">
	<h1 class="title">Educação</h1>
</div>
<br/><br/>
<div class="card">
	<div class="item item-divider">
	  <div class="item item-avatar">
    <img src="./img/AEDB.png">
		Associação Educacional<br> Dom Bosco
		</div>
	</div>
	<div class="item item-text-wrap">
		Bacharelando em Sistemas de Informação
	</div>
	<div class="item item-divider">
		2013 - 2016
	</div>
</div>
</ion-content>
</ion-view>
