<ion-view view-title="Currículo">
  <ion-content class="my-background">
<div class="bar bar-header bar-dark">
	<h1 class="title">Habilidades</h1>
</div>
<br/><br/>
<div class="list card">
	<div class="item item-icon-left item-text-wrap">
		<i class="icon ion-ios-information-outline item-text-wrap"></i>
		Conhecimento em programação C, C#, Java e PHP.
	</div>
	<div class="item item-icon-left item-text-wrap">
		<i class="icon ion-settings"></i>
		Utilização das ferramentas Visual Studio, Sublime Text, Netbeans e Xamarin.
	</div>
		<div class="item item-icon-left item-text-wrap">
		<i class="icon ion-coffee"></i>
		Beber café.
	</div>
</div>
  </ion-content>
</ion-view>
