	<ion-view view-title="Currículo">
	  <ion-content class="my-background">
	<div class="bar bar-header bar-dark">
		<h1 class="title">Profissional</h1>
	</div>
	<br/><br/>
	<div class="card">
		<div class="item item-divider">
		 <a class="item item-thumbnail-center">
      	<img src="./img/mpf.png"></a>
		</div>
		<div class="item item-text-wrap">
			Estagiário de Informática
		</div>
		<div class="item item-text-wrap">
			07/2015 - Atualmente
		</div>
		<div class="item item-divider">
		Atividades
		<div class="list list-inset">
	  <a class="item">
	    Configuração de redes
	  </a>
	  <a class="item">
	    Instalação de softwares
	  </a>

	  <a class="item">
	    Auxílio e suporte
	  </a>

	  <a class="item">
	    Dentre outros
	  </a>

	</div>
		</div>
	</div>
	  </ion-content>
	</ion-view>
