/* Empty. Add your own CSS if you like */
.title{
	font-family: "segoe";
	color: white;
	text-align: center;
	font-size: 70px;
}
.main-text{
  font-family: "segoe";
  color:black;
}
.my-background{
	background: rgb(200,200,200);
}
 .bar.bar-stable {
    border-color: #b2b2b2;
    background-color: rgb(0,120,220);
    background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
    color: white; }
 .bar.bar-stable .title {
 		font-family: "segoe";
      color: white; }
.bar.bar-stable.bar-footer {
      background-image: linear-gradient(180deg, #b2b2b2, #b2b2b2 50%, transparent 50%); }